h1 { font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: monaco, Consolas, "Lucida Console", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


body {
    background-color: #19345cb2;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        max-width: 100%;
    }
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.logo h1 {
    font-size: 1.8rem;
    color: #fff;
}

.enlace {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.enlace-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19345cb2;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
}

.enlace-item:hover {
    background-color: #fff;
    color: #19345cb2;
}

.enlace-item a {
    
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    text-align: center;

}

.enlace-item:hover a {
    color: #19345cb2;
}

.enlace-item img {
    float:left;
    width: 50px;
    height: 50px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.parragraph {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parragraph p {
    text-align: justify;
}

.skill-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    gap: 20px;
}

.skill-item {
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    grid-column: span 1;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}


.skill-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.skill-item h3 {
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.skill-item.click img{
    opacity: 0;
}

.skill-item.click h3{
    opacity: 1;
}

.skill-item.click {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;

}

.project-item {
    width: 80%;
    background-color: #19345cb2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
}

.go-back {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #19345cb2;
    margin-top: 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
    cursor: pointer;
}

.go-back h3 {
    font-size: 25px;

}

.go-back img{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

